DiscordPlayerCountBot/bin/Debug/netcoreapp3.1/Config.json
*.swp
*.*~
*.csproj

project.lock.json
.DS_Store
.vs
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
./DiscordPlayerCountBot/bin
./DiscordPlayerCountBot/obj

./DiscordPlayerCountBot/Properties